*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}

.conatiner {
    display: flex;
    border-radius: 20px !important;
}

.main {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../images/pexels-markus-spiske-1972464.jpg);
    background-size: cover;
}

.imgr {
   padding: 20px;
   width: 200px;
   height: 200px;
   border: 2px solid white;
   border-radius: 35%;
    
}

.link {
    text-decoration: none;
    color: white;
}

.scary {
    background-color: #222A66;
    color: white;
}


.mts {
    margin-left: 40px;
    margin-right: 40px;
}

.block {
    display: inline-block;
    margin-left: 20px;
}

.att {
    text-align: justify;
}


@media only screen and (max-width: 768px) {
    .scary {
      width: 100%;
      }
      .rts {
        width: 100%;
      }
      .dps {
        text-align: center;
      }
      .container {
        background: solid gray !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;
      }
}